body {
    font-family: Arial;
}

table {
    width: 750px;
    margin: auto;
    border-collapse: collapse;
    border-radius: 0.25rem;
}

th,
td {
    border: 3px solid black;
    font-size: 20px;
}

h1 {
    color: blue;
    text-align: center;
    font-size: 25px;
    background-color: white;
}

.form-input {
    height: 30px;
    border-radius: 0.25rem;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
}

.table2 {
    width: 750px;
    height: 100x;
    background-color: #FEFBC4;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 25%;
    height: 35px;
    background-color: #CBCBC6;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.indent {
    padding-left: 10px;
}

.thutle {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
}

#ok {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: orangered;
    font-weight: bold;
}

label {
    font-size: 20px;
    color: blue;
    font-weight: bold;
    margin-left: 10px;
}

fieldset {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15%;
    margin-right: 15%;
    border: 3px solid #8B4513;
    padding: 15px;
}