table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
} td {
    border: 0px solid black;
    border: none;

} h1 {
    text-align: center;
    font-size: 25px;

} .tieuDe {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: white;
    background-color: #000066;
    
} p {
    text-align: center;
    margin-left: 25px;
} .left-cell {
  width: 40%;
} .right-cell {
  width: 60%;
} h3, h4 {
    margin-left: 25px;
} ul {
  list-style-type: square;
  background-color: #DEF0FA;

} td:not(:last-child) {
  border-right: 2px solid black;
}