h1 {
    text-align: center;
    color: red;
}

#a1 {
    color: red;
}
    body {
        width: 600px;
        border-collapse: collapse;
        margin: auto;
        border: 3px solid black;
        padding-bottom: 25px;
    } p {
        margin: 5px;
    }