    
    
    h1 {
        text-align: center;
        color: red;
    }

    h2 {
        color: blue;
    }

    .a01 {
        background-color: #FECFFD;
        text-align: center;
        font-size: 30px;
        color: #FA379A;
    }

    .dv1 {
        background-color: #FFFECD;
        text-align: center;
        font-style: italic;
    }

    hr {
        width: 50%;
    } body {
        width: 750px;
        border-collapse: collapse;
        margin: auto;
        border: 3px solid black;
        padding-bottom: 25px;
    }